/* Reset */
* {
  margin: 0;
  padding: 0; }

header, footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'header header' 'hero hero' 'main main' 'footer footer';
  background-color: #ede0d4;
  font-family: 'Poppins', sans-serif; }

/* header */
header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  grid-area: header; }
  header .header__logo {
    width: 70px;
    margin: 15px 0 0 15px; }
  header .header__menu .header__menulist {
    list-style-type: none; }
    header .header__menu .header__menulist .header__listitem {
      display: inline-block;
      margin: 0 15px 0 0; }
      header .header__menu .header__menulist .header__listitem a {
        padding: 7px;
        border: 2px solid white;
        border-radius: 20px;
        transition: all 0.3s;
        text-decoration: none;
        color: white; }
        header .header__menu .header__menulist .header__listitem a:hover {
          background: white;
          color: black; }
  header label, header #hamburger {
    display: none; }

/* footer */
footer {
  background-color: #9c6644;
  grid-area: footer; }
  footer .footer__container .footer__container__redes {
    text-align: center;
    margin: 30px;
    color: white; }
    footer .footer__container .footer__container__redes .redes__titulo {
      font-weight: 600; }
    footer .footer__container .footer__container__redes a {
      font-size: 1.75em; }
      footer .footer__container .footer__container__redes a i {
        transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
        footer .footer__container .footer__container__redes a i:hover {
          transform: scale(1.5); }
      footer .footer__container .footer__container__redes a .fa {
        padding-top: 10px;
        font-size: 1.25em;
        color: white;
        margin-right: 12px; }
  footer .footer__container .footer__container__logo {
    width: 80px;
    height: 80px; }
  footer .footer__container .footer__container__direccion {
    text-align: center;
    margin: 30px;
    color: white; }
    footer .footer__container .footer__container__direccion .direccion__titulo {
      font-weight: 600; }
    footer .footer__container .footer__container__direccion .direccion__local {
      font-weight: 300; }
  footer .footer__derechos {
    background-color: black;
    color: white;
    height: 40px;
    text-align: center; }
    footer .footer__derechos p {
      padding-top: 10px;
      font-size: 0.75em; }

/* hero */
.main__hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/fondo2.jpg); }
  .main__hero .main__hero__button {
    color: white;
    margin-bottom: 15px;
    font-weight: 300;
    background-color: black;
    padding: 7px;
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.3s;
    -webkit-animation: animacionBoton 0.3s;
    animation: animacionBoton 0.3s; }
    .main__hero .main__hero__button:hover {
      background-color: white;
      color: black; }
  .main__hero a {
    text-decoration: none; }

.main__hero__tienda {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/tienda.jpg); }

.main__hero__contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/contactme.png); }

.main__hero__nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/nosotros.jpg); }

.main__hero__productos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/productos.jpg); }

.main__hero, .main__hero__tienda, .main__hero__contacto, .main__hero__nosotros, .main__hero__productos {
  grid-area: hero;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .main__hero .main__hero__titulo, .main__hero .main__hero__subtitulo, .main__hero__tienda .main__hero__titulo, .main__hero__tienda .main__hero__subtitulo, .main__hero__contacto .main__hero__titulo, .main__hero__contacto .main__hero__subtitulo, .main__hero__nosotros .main__hero__titulo, .main__hero__nosotros .main__hero__subtitulo, .main__hero__productos .main__hero__titulo, .main__hero__productos .main__hero__subtitulo {
    color: white;
    margin-bottom: 15px;
    font-weight: 300; }
  .main__hero .main__hero__titulo, .main__hero__tienda .main__hero__titulo, .main__hero__contacto .main__hero__titulo, .main__hero__nosotros .main__hero__titulo, .main__hero__productos .main__hero__titulo {
    -webkit-animation: animacionTitulo 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: animacionTitulo 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .main__hero .main__hero__subtitulo, .main__hero__tienda .main__hero__subtitulo, .main__hero__contacto .main__hero__subtitulo, .main__hero__nosotros .main__hero__subtitulo, .main__hero__productos .main__hero__subtitulo {
    -webkit-animation: animacionSubtitulo 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation: animacionSubtitulo 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); }

main {
  grid-area: main; }

/* estilos index */
main .container {
  display: flex;
  margin: 30px 50px; }
  main .container .container__caja {
    margin: 20px 20px;
    text-align: center; }

main .main__separador {
  background-color: #ddb892;
  height: 200px; }
  main .main__separador .main__separador__mensaje {
    font-size: 2em;
    text-align: center;
    padding-top: 80px; }

main .resumen {
  margin: 90px 50px; }
  main .resumen .resumen__caja {
    display: flex;
    align-items: center; }
    main .resumen .resumen__caja .resumen__caja__imagen {
      width: 35%;
      height: auto;
      transition: all 0.3s; }
      main .resumen .resumen__caja .resumen__caja__imagen:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; }
    main .resumen .resumen__caja .resumen__caja__texto {
      margin: 30px; }

/* estilos tienda */
/* sacando atributos agregados por bootstrap */
p {
  margin-bottom: 0px; }

ol, ul {
  padding-left: 0; }

main .main__tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  main .main__tienda .tienda__producto {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    main .main__tienda .tienda__producto .tienda__prod__img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px; }
    main .main__tienda .tienda__producto .tienda__prod__titulo, main .main__tienda .tienda__producto .tienda__prod__precio {
      font-weight: 600;
      margin-bottom: 10px; }
    main .main__tienda .tienda__producto .tienda__prod__descripcion {
      margin-bottom: 10px;
      margin: 0px 10px; }
    main .main__tienda .tienda__producto .tienda__prod__btn {
      background-color: #1c9720;
      padding: 5px;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      color: white; }
      main .main__tienda .tienda__producto .tienda__prod__btn:hover {
        background-color: #0d6810; }
    main .main__tienda .tienda__producto a {
      text-decoration: none; }
    main .main__tienda .tienda__producto:hover {
      transform: scale(1.05); }

main .carrito__boton {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin: 25px;
  background-color: #1c9720;
  border: none;
  padding: 12px;
  border-radius: 50px;
  transition: all 0.3s ease; }
  main .carrito__boton:hover {
    transform: scale(1.1);
    background-color: #0d6810;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
  main .carrito__boton:focus, main .carrito__boton:target {
    background-color: #1c9720;
    border: none;
    box-shadow: none; }
  main .carrito__boton:active:focus {
    box-shadow: none; }

main .modal {
  backdrop-filter: blur(5px); }
  main .modal .modal-dialog {
    max-width: 80%; }
    main .modal .modal-dialog .modal-content {
      border-radius: 0; }
      main .modal .modal-dialog .modal-content .modal-footer .modal__boton:nth-child(1) {
        background-color: #1b1b1b;
        border: none;
        border-radius: 20px; }
        main .modal .modal-dialog .modal-content .modal-footer .modal__boton:nth-child(1):hover {
          background-color: #3b3b3b; }
        main .modal .modal-dialog .modal-content .modal-footer .modal__boton:nth-child(1):focus {
          box-shadow: none; }
      main .modal .modal-dialog .modal-content .modal-footer .modal__boton:nth-child(2) {
        background-color: #1c9720;
        border: none;
        border-radius: 20px; }
        main .modal .modal-dialog .modal-content .modal-footer .modal__boton:nth-child(2):hover {
          background-color: #0d6810; }
        main .modal .modal-dialog .modal-content .modal-footer .modal__boton:nth-child(2):focus {
          box-shadow: none; }
      main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-bottom: 10px; }
        main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__img {
          width: 13%; }
        main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar {
          display: flex;
          align-items: center; }
          main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar svg {
            width: 1.75em; }
          main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar a {
            text-decoration: none; }
          main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar p, main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar svg {
            padding-left: 5px;
            color: #ee4d4d; }
        main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__titulo, main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto select, main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar {
          margin: 0 8px; }

/* estilos nosotros */
main .main__nosotros {
  display: grid;
  margin: 30px;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center; }
  main .main__nosotros .main__nosotros__imagen {
    padding: 20px;
    width: 50%;
    height: auto; }
  main .main__nosotros .main__nosotros__texto {
    margin: 20px; }

main .main__mision .main__mision__texto {
  margin: 40px 80px; }

main .main__mision .main__mision__titulo {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center; }

main .main__separadores__imagenes {
  display: flex;
  justify-content: center; }
  main .main__separadores__imagenes img {
    width: 20%;
    margin: 40px 20px; }

main .main__agradecimiento {
  margin: 30px 80px 80px 80px; }

/* estilos productos */
main .main__productos {
  margin: 40px; }
  main .main__productos .prod__container {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .main__productos .prod__container img {
      width: 250px;
      height: auto;
      margin: 20px; }
    main .main__productos .prod__container .prod__container__txt .prod__titulo {
      font-size: 1.5em;
      font-weight: 600;
      margin: 30px;
      text-align: center; }
    main .main__productos .prod__container .prod__container__txt .prod__descripcion {
      margin: 0 40px; }

main .main__table__titulo {
  font-size: 1.5em;
  font-weight: 600;
  margin: 30px;
  text-align: center; }

main .main__table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse; }
  main .main__table tr:hover {
    background-color: #E6CCB2; }
  main .main__table td, main .main__table th {
    border: 1px solid #000;
    padding: 8px; }
  main .main__table th {
    padding: 12px 0;
    text-align: center;
    background-color: #B08968;
    color: white; }

/* estilos contacto */
main .main__contacto__agradecimiento {
  background-color: #9c6644;
  color: white;
  padding: 50px;
  text-align: center; }
  main .main__contacto__agradecimiento p {
    margin-bottom: 15px; }
  main .main__contacto__agradecimiento a {
    padding: 5px;
    font-size: 1.75em; }
    main .main__contacto__agradecimiento a .fa {
      font-size: 1.25em;
      margin: 0 5px; }
  main .main__contacto__agradecimiento i {
    color: white;
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
    main .main__contacto__agradecimiento i:hover {
      transform: scale(1.5); }

main .main__form {
  margin: 30px 20px; }
  main .main__form fieldset {
    margin: 30px 200px; }
    main .main__form fieldset .form__elemento {
      margin: 40px 0px;
      display: flex;
      flex-direction: column; }
      main .main__form fieldset .form__elemento label {
        font-weight: 600;
        margin: 0 15px; }
      main .main__form fieldset .form__elemento input, main .main__form fieldset .form__elemento select {
        padding: 15px;
        border: none;
        border-radius: 6px;
        margin: 0 15px; }
      main .main__form fieldset .form__elemento textarea {
        padding: 15px;
        border-radius: 6px;
        margin: 0 15px; }
      main .main__form fieldset .form__elemento .form__input__boton {
        margin: auto;
        padding: 15px;
        background-color: #1c9720;
        font-weight: 600;
        font-size: 1.15em;
        color: white;
        border: none;
        border-radius: 20px;
        width: 25%;
        cursor: pointer;
        transition: all 0.2s; }
        main .main__form fieldset .form__elemento .form__input__boton:hover {
          background-color: #0d6810; }
    main .main__form fieldset .form__elemento:nth-child(5), main .main__form fieldset .form__elemento:nth-child(7) {
      flex-direction: row; }

/* animaciones */
@-webkit-keyframes animacionBoton {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes animacionBoton {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@-webkit-keyframes animacionSubtitulo {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes animacionSubtitulo {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@-webkit-keyframes animacionTitulo {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes animacionTitulo {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* media queries */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.75em; }
  /* header */
  .header__listitem {
    font-size: 0.80em; }
  footer .footer__derechos p {
    font-size: 0.5em; }
  /* index */
  main .container {
    flex-direction: column; }
  main .main__separador .main__separador__mensaje {
    font-size: 1.5em; }
  main .resumen .resumen__caja:nth-child(2) {
    flex-direction: column-reverse; }
  main .resumen .resumen__caja {
    flex-direction: column;
    align-items: center; }
    main .resumen .resumen__caja .resumen__caja__imagen {
      width: 70%;
      height: auto; }
    main .resumen .resumen__caja .resumen__caja__texto {
      text-align: center;
      margin: 30px; }
  /* contacto */
  main .main__form fieldset {
    margin: 30px 20px; }
  /* nosotros */
  main .main__nosotros {
    grid-template-columns: auto; }
    main .main__nosotros .main__nosotros__texto {
      margin: 10px; }
    main .main__nosotros .main__nosotros__imagen {
      width: 50%;
      height: auto;
      justify-self: center;
      padding: 0; }
  main .main__mision .main__mision__texto {
    margin: 40px; }
  main .main__separadores__imagenes img {
    width: 35%;
    margin: 20px 15px; }
  /* tienda */
  main .modal .modal-dialog {
    margin: auto;
    max-width: 85%;
    margin-top: 25px; }
    main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__img {
      width: 20%; }
  /* productos */
  main .main__productos .prod__container .prod__container__txt .prod__descripcion {
    margin: 0 20px; }
  main .main__productos .prod__container .prod__container__img img {
    width: 175px; } }

@media screen and (max-width: 576px) {
  /* boton hamburguesa */
  header .header__menu {
    position: absolute;
    top: 0;
    left: -100%;
    background: #ddb892;
    width: 100%;
    height: 70vh;
    z-index: 1;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
    header .header__menu .header__menulist {
      padding-top: 80px; }
      header .header__menu .header__menulist .header__listitem {
        padding: 0;
        margin: 0;
        border: none;
        box-sizing: border-box;
        display: block;
        text-align: center;
        width: 100%;
        height: 60px;
        font-size: 1.25em;
        line-height: 60px;
        border-radius: 0; }
        header .header__menu .header__menulist .header__listitem a {
          color: black;
          padding: 30px 100px 30px 100px;
          border: none; }
          header .header__menu .header__menulist .header__listitem a:hover {
            background: none; }
        header .header__menu .header__menulist .header__listitem:hover {
          background: #B08968; }
  header label {
    display: inline-block;
    color: #fff;
    background: transparent;
    font-style: normal;
    font-size: 2em;
    padding: 20px;
    cursor: pointer;
    z-index: 2; }
  header #hamburger:checked ~ .header__menu {
    left: 0; }
  header #hamburger:checked ~ header label {
    color: black; }
  /* footer */
  footer .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* contacto */
  main .main__form {
    margin: 30px 10px; }
    main .main__form fieldset {
      margin: 30px 0; }
      main .main__form fieldset .form__elemento:nth-child(5) {
        flex-direction: column;
        align-items: center; }
  /* tienda */
  main .main__tienda {
    grid-template-columns: auto; }
    main .main__tienda .tienda__producto {
      width: 85%;
      display: grid;
      grid-template-columns: 130px 1fr;
      margin: 30px auto; }
      main .main__tienda .tienda__producto .tienda__prod__img {
        width: 130px;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 18px;
        border-top-right-radius: 0px;
        margin: 0;
        grid-row: 1 / span 4; }
      main .main__tienda .tienda__producto .tienda__prod__titulo {
        margin-top: 10px; }
      main .main__tienda .tienda__producto .tienda__prod__titulo, main .main__tienda .tienda__producto .tienda__prod__precio, main .main__tienda .tienda__producto .tienda__prod__descripcion, main .main__tienda .tienda__producto .tienda__prod__btn {
        grid-column: 2; }
      main .main__tienda .tienda__producto .tienda__prod__descripcion {
        padding: 0 10px; }
      main .main__tienda .tienda__producto .tienda__prod__btn {
        padding: 0px;
        border-bottom-left-radius: 0;
        height: 100%; }
  main .modal .modal-dialog {
    margin: auto;
    max-width: 85%;
    margin-top: 25px; }
    main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__img {
      width: 20%; }
    main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar svg {
      width: 2em; }
    main .modal .modal-dialog .modal-content .modal-body .modal__carrito .modal__producto .producto__quitar p {
      display: none; }
  /* nosotros */
  main .main__nosotros .main__nosotros__texto {
    margin-top: 30px; }
  main .main__agradecimiento {
    margin: 40px; }
  /* productos */
  main .main__productos {
    margin: 20px; }
    main .main__productos .prod__container {
      flex-direction: column; }
      main .main__productos .prod__container .prod__container__img img {
        width: 150px; }
    main .main__productos .prod__container:nth-child(1), main .main__productos .prod__container:nth-child(3) {
      flex-direction: column-reverse; } }
