/* estilos index */ 
main{
    .container{
        display: flex;
        margin: 80px 50px;
        .container__caja {
            margin: 20px 20px;
            text-align: center;
        }
    }
    .main__separador {
        background-color: #ddb892;
        height: 200px;
        .main__separador__mensaje {
            font-size: 2em;
            text-align: center;
            padding-top: 80px;
        }
    }
    .resumen {
        margin: 90px 50px;
        .resumen__caja {
            display: flex;
            align-items: center;
            .resumen__caja__imagen {
                width: 35%;
                height: auto;
                transition: all 0.3s;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
                }
            }
            .resumen__caja__texto {
                margin: 30px;
            }
        }
    }
}