body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'header header'
    'hero hero'
    'main main'
    'footer footer';
    background-color: $bg-color;
    font-family: 'Poppins', sans-serif;
}