/* estilos contacto */ 
main{
    .main__contacto__agradecimiento {
        background-color: $bg-color2;
        color: white;
        padding: 50px;
        text-align: center;
        p{
            margin-bottom: 15px;
        }
        a{
            padding: 5px;
            font-size: 1.75em;
        }
        i{
            color: white;
            transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
            &:hover {
                transform: scale(1.5);
                color: black;
            }
        }
    }
    .main__form {
        margin: 30px 20px;
        fieldset{
            margin: 30px 200px;
            .form__elemento{
                margin: 40px 0px;
                display: flex;
                flex-direction: column;
                label{
                    font-weight: 600;
                    margin: 0 15px;
                }
                input, select{
                    padding: 15px;
                    border: none;
                    border-radius: 6px;
                    margin: 0 15px;
                }
                textarea{
                    padding: 15px;
                    border-radius: 6px;
                    margin: 0 15px;
                }
                .form__input__boton{
                    margin: auto;
                    padding: 15px;
                    background-color: map-get($map:$btnProperties, $key:btnColor);
                    color: white;
                    border: none;
                    border-radius: map-get($map:$btnProperties, $key:btnRadius);
                    width: 25%;
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover{
                        background-color: map-get($map:$btnProperties, $key:btnColorHover);
                    }
                }
            }
            .form__elemento:nth-child(5), .form__elemento:nth-child(7){
                flex-direction: row;
            }
        }
    }
}