/* header */
header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    @extend %displayFlex;
    grid-area: header;
    .header__logo{
        width: 70px;
        margin: 15px 0 0 15px;
    }
    .header__menu{
        .header__menulist{
            list-style-type: none;
            .header__listitem {
                display: inline-block;
                margin: 0 15px 0 0;
                a {
                    padding: map-get($map:$btnProperties, $key:btnPadding);
                    border: 2px solid white;
                    border-radius: map-get($map:$btnProperties, $key:btnRadius);
                    transition: all 0.3s;
                    text-decoration: none;
                    color: white;
                    &:hover {
                        background: white;
                        color: black;
                    }
                }
            }
        }
    }
    label, #hamburger{
        display: none; 
    }
}
/* footer */
footer {
    background-color: $bg-color2;
    grid-area: footer;
    .footer__container {
        @extend %displayFlex;
        .footer__container__redes {
            text-align: center;
            margin: 30px;
            color: white;
            .redes__titulo{
                font-weight: 600;
            }
            a{
                font-size: 1.75em;
                img{
                    @include redes;
                }
            }
        }
        .footer__container__logo {
            @include size(80px, 80px);
        }
        .footer__container__direccion {
            text-align: center;
            margin: 30px;
            color: white;
            .direccion__titulo{
                font-weight: 600;
            }
            .direccion__local{
                font-weight: 300;
            }
        }
    }
    .footer__derechos {
        background-color: black;
        color: white;
        height: 40px;
        text-align: center;
        p{
            padding-top: 10px;
            font-size: 0.75em;
        }
    }
}