/* hero */ 
.main__hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/fondo2.webp);
    .main__hero__button{
        color: white;
        margin-bottom: 15px;
        font-weight: 300;
        background-color: black;
        padding: map-get($map:$btnProperties, $key:btnPadding);
        font-weight: 600;
        border-radius: map-get($map:$btnProperties, $key:btnRadius);
        transition: all 0.3s;
        -webkit-animation: animacionBoton 0.3s;
        animation: animacionBoton 0.3s;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    a {
        text-decoration: none;
    }
}

.main__hero__tienda {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/tienda.webp);
}

.main__hero__contacto {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/contactme.jpg);
}

.main__hero__nosotros {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/nosotros.webp);
}

.main__hero__productos {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/productos.webp);
}

.main__hero, .main__hero__tienda, .main__hero__contacto, .main__hero__nosotros, .main__hero__productos {
    grid-area: hero;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .main__hero__titulo, .main__hero__subtitulo{
        color: white;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .main__hero__titulo {
        -webkit-animation: animacionTitulo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        animation: animacionTitulo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
    .main__hero__subtitulo {
        -webkit-animation: animacionSubtitulo 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530);
        animation: animacionSubtitulo 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    }
}