/* estilos productos */ 
main{
    .main__productos {
        margin: 40px;
        .prod__container {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                @include size(250px, auto);
                margin: 20px;
            }
            .prod__container__txt{
                .prod__titulo{
                    font-size: 1.5em;
                    font-weight: 600;
                    margin: 30px;
                    text-align: center;
                }
                .prod__descripcion {
                    margin: 0 40px;
               }
            }
        }
    }
    .main__table__titulo {
        font-size: 1.5em;
        font-weight: 600;
        margin: 30px;
        text-align: center;
    }
    .main__table {
        width: 80%;
        margin: 50px auto;
        border-collapse: collapse;
        tr:hover{
            background-color: $color2;
        }
        td, th{
            border: 1px solid #000;
            padding: 8px;
        }
        th {
            padding: 12px 0;
            text-align: center;
            background-color: $color4;
            color: white;
       }
   }
}